<nav class="navbar navbar-expand-lg" style="background-color: #1877f2; color: #fff;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: #fff;" routerLink="post-list">CRUD</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/post-list" style="color: #fff;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/post-add" style="color: #fff;">Create Post</a>
        </li>
      </ul>
      <form class="d-flex">
        <!-- header.component.html -->

<app-notification-list></app-notification-list>
        <!-- In your header.component.html -->
        <input type="text" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Search posts by title">
        <button class="btn btn-primary" type="button" (click)="onSearchClick()">Search</button>
        <!-- <button class="btn btn-primary" type="submit" (click)="onSave()">Save</button>
        <button class="btn btn-primary" type="submit" (click)="onFetch()">Fetch</button> -->
        <button class="btn btn-primary" type="button" (click)="goToProfile()">Go to Profile</button>
        <button (click)="onLogout()">Logout</button>
      </form>
    </div>
  </div>
</nav>
