<div class="dropdown">
  <button class="btn btn-light dropdown-toggle notification-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span role="img" aria-label="bell">🔔</span>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" *ngFor="let notification of notifications">
      {{ notification.type === 'comment' ? 'User ' + notification.userId + ' commented on your post' : 'Other notification type' }} at {{ notification.timestamp | date:'short' }}
    </a>
    <a class="dropdown-item" *ngIf="notifications.length === 0">No notifications</a>
  </div>
</div>
