.custom-card {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

.comment-section {
  padding: 10px;
}

.comment-input {
  width: 80%;
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.comment-btn {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comments-list {
  margin-top: 10px;
}

.comment-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.comment-metadata {
  font-size: 12px;
  color: #777;
}

.delete-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-container {
  text-align: right;
  padding: 10px;
}

.btn-liked {
  background-color: #007bff;
  color: #fff;
}

.btn-not-liked {
  background-color: #fff;
  color: #007bff;
  border: 1px solid #007bff;
}

.heart-icon {
  cursor: pointer;
}
.delete-btn {
  background-color: transparent; /* Remove the red background */
  border: none;
  cursor: pointer;
}

.delete-btn i {
  color: #dc3545; /* Set the color of the trash icon to red */
}
.heart-icon {
  cursor: pointer;
  color: #000; /* Set the color of the heart icon to black */
}

.liked .heart-icon {
  color: #dc3545; /* Set the color of the heart icon to red when liked */
}




