<div class="tab-content">
  <div id="home" class="container-fluid tab-pane active"><br>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-auto custom-card" id="prova">
          <div class="row post-header col-12 py-2 px-3">
            <div class="col-6 float-left"><h2>Post by: {{post?.authorEmail}}</h2></div>
            <div class="col-6 float-right text-right post-number"><h4>{{post?.numberoflikes}} Likes</h4></div>
          </div>
          <img class="img-responsive" src="{{post?.imgPath}}" style="width: 100%;" alt="Post Image">
          <div class="card-body px-3">
            <h5 class="card-title">{{post?.numberoflikes}} Likes</h5>
            <p class="card-text">{{post?.description}}</p>
          </div>

<div class="row post-header px-3 pb-3">
  <div class="col-1 float-left text-left">
    <i class="fas fa-heart heart-icon" [ngClass]="{'liked': isLiked}" (click)="onClick()"></i>
  </div>
  <div class="col-10 float-left text-left">
    <div class="input-group">
      <input type="text" [(ngModel)]="comment" name="comment" class="comment-input" placeholder="Add a comment">
      <div class="input-group-append">
        <button (click)="submitComment()" class="comment-btn">Post</button>
      </div>
    </div>
  </div>
  <div class="col-1 float-right text-right"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></div>
</div>

<div class="comments-list">
  <div *ngFor="let comment of post?.comments; let i = index" class="comment-item">
    <p>{{ comment.comment }}&nbsp;&nbsp;
      <span class="comment-metadata">{{ comment.email }} at {{ comment.timestamp | date:'short' }}</span>
      <button *ngIf="comment.userId === currentUserId" (click)="deleteComment(i)" class="delete-btn">
        <i class="fa fa-trash-alt"></i>
      </button>
    </p>
  </div>
</div>
          </div>
        </div>
      </div>
    </div>
  </div>

