<div class="post-container">
  <h3 class="font-weight-bold" *ngIf="editMode == false">Create Post</h3>
  <h3 class="font-weight-bold" *ngIf="editMode == true">Edit Post</h3>

  <form class="needs-validation" (ngSubmit)="onSubmit()" [formGroup]="form">
    <!-- Title and Description -->
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" placeholder="Title" required formControlName="title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" placeholder="Description" required formControlName="description">
    </div>

    <!-- Image Path -->
    <div class="form-group">
      <label for="imgPath">Image Path</label>
      <input type="text" class="form-control" id="imgPath" placeholder="Image Path" required formControlName="imgPath">
      <img src="{{form.value.imgPath}}" class="preview-image">
    </div>

    <!-- Submit Button -->
    <div class="button-container">
      <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Submit Form</button>
    </div>
  </form>
</div>
